* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

article {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.outer {
  width: 500px;
  height: 50px;
  border: 1px solid;
}

.inner {
  width: 0;
  height: 100%;
  transition: width 3s;
  background-color: orangered;
  animation-duration: 3s;
}

@keyframes fullWidth {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}
